---
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';


---

<Layout title="IMPETUS INDOMITUS" description="404 - Not Found">
	
    <Title title="404 - Not Found" />
    <main class="w-full">
        <section class="container max-w-screen-xl mx-auto px-4 py-16 text-center">
            <h1 class="text-6xl font-bold mb-4">404</h1>
            <p class="text-lg text-gray-400 mb-8">Page not found</p>
            <a href="/" class="inline-flex items-center justify-center p-2 text-base font-medium text-black rounded-lg bg-white hover:text-gray-900 hover:bg-gray-100">
                <span class="w-full">Go to Home</span>
            </a>
        </section>
    </main>

</Layout>
