---
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
import ItemCertifcation from '../components/ItemCertification.astro';
---

<Layout title="IMPETUS INDOMITUS - Certifications" description="certifications needed to be a member of the research group">
    <Title title="Certifications" />


    <header class="container mx-auto max-w-screen-xl px-4 py-16 bg-white grid sm:grid-cols-1 md:grid-cols-2 items-center justify-center text-center gap-12">
         <div class="max-w-4xl mx-auto text-left">
        <h2 class="text-2xl font-bold text-gray-800 mb-8 text-center">Procedure to be Certified</h2>

    <ol class="list-decimal pl-6 space-y-6 text-gray-400 text-lg">
      <li>
        <strong class="text-gray-500">Email</strong> any of the certifier members from the <strong class="text-gray-500">Vortex Team</strong> or <strong class="text-gray-500">Prof. Guillermo Jaramillo</strong> asking for certification in the respective equipment you want to work with.
      </li>
      <li>
        Schedule with the chosen certifier a date to be certified.
      </li>
      <li>
        The certifier member will make the respective reserve of the equipment for certification purposes
      </li>
      <li>
        Once the certification is completed, the certifier will email <strong class="text-gray-500">Prof. Guillermo Jaramillo</strong> to report this data: 
        <ul class="list-disc pl-6 mt-3 space-y-">
          <li>Certified person name</li>
          <li>UNIVALLE ID number of the certified person</li>
          <li>Date of the certification</li>
          <li>Equipment used in the certification</li>
        </ul>
      </li>
      <li>
        <strong class="text-gray-500">Prof. Guillermo Jaramillo</strong> will update the certification form with the data  given by the certifier about the certified person. This information will be public for traceability purposes. 
      </li>
    </ol>
  </div>
        <div class="min-w-1/2 px-8">
            <img src="https://placehold.co/400x300" alt="Research Image" class="w-full h-auto rounded-lg mb-4">
        </div>
    </header>
    <section class="container max-w-screen-xl mx-auto px-4 py-16 bg-white ">
        <h2 class="text-2xl font-semibold text-white bg-black py-4 px-16 w-fit mx-auto mb-16 text-center">Equipment to Certify</h2>  
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-8">

            <ItemCertifcation title="FAN CHARACTERIZATION TUNNELS" description="An open-circuit subsonic wind tunnel is set up with a 5% turbulence intensity, a square test section with a 25 cm edge and a length of 70 cm. Free-flow velocities are up to 30 m/s." image="/images/certification/TUNEL PATI 2.webp" contact="Email any of the certifier members from the Vortex Team or Prof. Guillermo Jaramillo."/>

            <ItemCertifcation title="3D PRINTER" description="The lab includes two Ender 3 Pro and one Ender 3 V2 3D printers, used as auxiliary equipment. All models operate at 24 V and support a 220×220×250 mm build volume. The Ender 3 V2 features a silent board and glass bed. Recommended use is between 15–35 °C and <60 % humidity." image="/images/certification/IMPRE1.webp" contact="Email any of the certifier members from the Vortex Team or Prof. Guillermo Jaramillo."/>

            <ItemCertifcation title="WATER TUNNEL" description="The equipment is a water tunnel classified as auxiliary, with inventory number 53035800, brand Rolling Hills Research, model 0710, and serial number 0042. It includes a centrifugal pump accessory (AMT model TE01CX0J0). It operates at 110 V, 60 Hz, and 10 A, with a capacity of 400 liters. The test section measures 10 x 10 x 30 cm and supports a maximum speed of 12 cm/s. Operating conditions range from 18–35 °C and 15–40 % relative humidity. Storage conditions are 15–25 °C and the same humidity range." image="/images/certification/TUNEL AGUA 2.webp" contact="Email any of the certifier members from the Vortex Team or Prof. Guillermo Jaramillo."/>

            <ItemCertifcation title="TOOLS" description="The lab also includes a variety of general tools such as screwdrivers, pliers, wrenches, soldering equipment, and measuring instruments. These are essential for assembly, maintenance, and prototyping tasks across different projects." image="/images/certification/TOOLS1.webp" contact="Email any of the certifier members from the Rocketeers UV Team or Prof. Guillermo Jaramillo."/>
        </div>
    </section>
</Layout>
