---
import Hero from '../components/Hero.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="IMPETUS INDOMITUS" description="A research group">
	<main class="">
		<Hero/>
		<Title title="Title example"/>
		<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
			<p class="text-lg text-center text-gray-900 dark:text-white">
				Welcome to the IMPETUS INDOMITUS website. We are a research group focused on various scientific fields.
			</p>
	</main>
</Layout>
