---
import "../styles/global.css";
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<NavBar />
		<slot />
		<Footer/>
	</body>
</html>

<style>
	body {
		display: grid;
		min-height: 100dvh;
		grid-template-rows: auto 1fr auto;
	}
</style>
